@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.hore ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.hore li {
	float: left;
	line-height: 100px;
	vertical-align: middle;
	background-color: darkgray;
}

.hore a {
	display: block;
	margin: 0;
	color: white;
	text-decoration: none;
	background-color: black;
	
}

.hore a:hover {
	background-color: #1E1E1E;
	color: white;
}

.hore li a {
	padding-left: 20px;
	padding-right: 20px;
}

p {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	margin-top: 0px;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;	

} 

.topimg {
	position: relative;
	top: 0;
	height: 300px;
	width: 100%;
	background-image: url(img/macka.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 40pt;
	font-variant: small-caps;
	text-align: right;
	color: white;
	font-family: "Open Sans", sans-serif;

}

.hore {
	position: sticky;
	height: 100px;
	width: 100%;
	background-color: black;
	top: 0;
	z-index: 2;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 0;
}


.main {
	margin-top: 15%;
	height: 10%;
	width: 100%;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 15pt;
}

.black {
	height: 400px;
	line-height: normal;
	width: 100%;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 15pt;
	color: white;
	position: relative;
	padding-top:100px;
	margin-left: 0px;
	margin-right: 0px;
}

.white {
	height: 400px;
	line-height: normal;
	width: 100%;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 15pt;
	color: black;
	position: relative;
	padding-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
	
}

.logo {
	top: 0px;
	left: 40px;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
	opacity: 1.2;
	filter: invert(100%);
}



#castle {
	background-image: url(img/hrad.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#park {
	background-image: url(img/snow.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#top {
	background-image: url(img/small_logo_transparent.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: 20px;
	height: 400px;
	line-height: normal;
	width: 100%;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 20pt;
	color: black;
	position: relative;
	padding-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
}

#lang {
	position: absolute;
	right: 30px;
}

#name {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

table {
	margin-top: 20px;
}

th {
	text-align: right;
	padding-right: 20px;
	font-size: 20pt;
}

td {
	font-size: 15pt;
	padding-bottom: 20px;
}

.tableleftcolumn {
	text-align: right;
	padding-right: 20px;
	vertical-align: top;
	width: 45%;
	padding-left: 15%;
}

.tablerightcolumn {
	text-align: left;
	padding-left: 20px;
	width: 55%;
	padding-right: 15%;
}


.projects3D {
	width: 100%;
	height: 900px;
	background-size: cover;
	margin-top: 0;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-shadow: 1px 1px black;
	padding-top: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#park {
	background-image:url(img/snow.jpg);	
}

a.pagelink {
	color: inherit;
	text-decoration: underline;
}

a:hover.pagelink {
	color: powderblue;
}

#hrad {
	background-image:url(img/hrad.jpg);
}

#island {
	background-image: url(img/island.jpg);
}

#photo {
	background-image: url(img/pano.jpg);
	color: black;
	text-shadow: 1px 1px grey;
	height: 700px;
}